/** GLOBAL - BASE -----------------------------------------**/

* {
    box-sizing: border-box;
}

body {
    font-family: $mainFont;
    color: $textColor;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFont;
    color: $blueGrey;
    font-weight: 400;
}

h1 {}

h2 {
    font-size: 26px;
}
h3 {
    font-size: 20px;
}


a {
    color: $blue;
}

a:active,
a:focus,
a:hover {
    color: $grey;
}


body, p, h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
}


/** TEXT COLORS **/

.textgreen {
    color: $green;
}

.textblue {
    color: $blue;
}

.textbluegrey {
    color: $blueGrey;
}