/** GLOBAL - VARIABLES -----------------------------------------**/


/*** COLORS ***/

$white: #fff; //basiskleur 1 and achtergrond website

$grey: #979797; // highlight text-1

$blue: #079ebd; // highlight text-2

$yellow: #fde93c;

$blueGrey: #5c6d71;

$textColor: #262626;

$green:  #007b00;

$greyLight: #dfe5e5; //borders
$greyLighter: #f0f3f2; //background searchbox
$greyLightest: #f5f5f5; //background footer-top



/*** FILTERS ***/


/*** TRANSITIONS ***/


/*** SIZES ***/


