<!-- <link href="/css/custom.css" rel="stylesheet" /> -->
<div class="navbar navbar-style-1 navbar-default-">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger js-open-middlebar-menu-right-mob" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt=" " class="logosmall" src="/media/logo.png" /></a>
            <div class="topbar-menu-left">
                <a href="/klantwaardering" title="99% aanbeveling!">
                    <span style="color:#007b00;">99% aanbeveling!</span>
                </a> |
                <a href="/proefdruk" title="Bestel GRATIS een proefdruk">Bestel GRATIS een proefdruk</a> |
                <a href="/bezorgen" title="Voor 18u besteld, dezelfde dag verzonden">Voor 18u besteld = dezelfde dag verzonden</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li class="phone">
                        <a class="hphone" href="tel:0318 - 725 123" title="0318 - 725 123">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>0318 - 725 123</span>
                        </a>
                    </li>
                    <li class="contact">
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="info dropdown js-dropdown">
                        <a class="help js-dropdown-hover" href="javascript:void(0);" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/over-mycards">Over MyCards</a>
                            </li>
                            <li>
                                <a href="/Nieuws">Nieuws</a>
                            </li>
                            <li>
                                <a href="/hoe-werkt-het">Hoe werkt het?</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/papiersoorten">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/bezorgen">Bezorging</a>
                            </li>
                            <li>
                                <a href="/klantwaardering">Klantwaardering</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/faq">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/tips-en-trucs">Tips &amp; Trucs</a>
                            </li>
                            <li>
                                <a href="/enveloppen-bestellen">Enveloppen bestellen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="account dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-hover account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="login" id="navbar-login">
                        <a href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li class="basket">
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket"> </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-basket-mob js-open-topbar-basket-menu-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob js-topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li class="mob-basket">
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li class="mob-account">
                        <a href="/account">Account</a>
                    </li>
                    <li class="mob-collection">
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li class="mob-contact">
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="mob-login">
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/home" title="Kaartjes"><img alt="" src="/media/logo.png" style="width: 180px;" /></a>
                <!-- middlebar-menu-left is needed for navbar-style-1 to fill the scroll-menu on mobile -->
                <ul class="middlebar-menu-left js-middlebar-menu-left md-hide-ib lg-hide-ib">
                    <li>
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/uitnodigingen">Uitnodigingen</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/kerstkaarten">Kerstkaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken">Zelf maken</a>
                    </li>
                    <li>&nbsp;</li>
                </ul>
                <ul class="middlebar-menu-right js-middlebar-menu-right">
                    <li class="dropdown js-dropdown for-mobile">
                        <a class="js-dropdown-click" href="javascript:void(0);">Geboortekaartjes</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/geboortekaartjes">Alle geboortekaartjes</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/jongen">- Jongens</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/meisje">- Meisjes</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-2e-kindje">- 2de kindje</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-3e-kindje">- 3de kindje</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-4e-kindje">- 4de kindje</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-5e-kindje">- 5de kindje</a>
                            </li>
                            <li>
                                <a href="/geboortekaartje-voor-eigen-gezin-zelf-samenstellen">- Eigen gezin samenstellen</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/tweeling">- Tweeling</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-met-foto">- Met foto</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartje-met-silhouet">- Met silhouet</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/klassieke-geboortekaartjes">- Klassiek</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/vintage-retro-geboortekaartjes">- Retro</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/islamitische">- Arabisch</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-lente">- Lente</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-zomer-thema">- Zomer</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartjes-herfst-thema">- Herfst</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartje-winter-kerst">- Winter</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">- Zelf ontwerpen</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/enkele-geboortekaartjes">- Enkelzijdig&nbsp;</a>
                            </li>
                            <li>
                                <a href="/geboortekaartjes/geboortekaartje-belgie">- Belgisch vierkant</a>
                            </li>
                            <li>
                                <a href="/uitnodigingen/kraamfeest-babyborrel-kaartjes">- Babyborrel kaartjes</a>
                            </li>
                            <li>
                                <a href="/bestel_details?keuze=enveloppen">- Enveloppen bestellen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="for-desktop">
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/uitnodigingen">Uitnodigingen</a>
                    </li>
                    <li>
                        <a href="/kerstkaarten">Kerstkaarten</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken">Zelf ontwerpen</a>
                    </li>
                </ul>
            </div>
            <div class="open-navbar-search js-open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field js-navbar-search-field js-middlebar-menu-right">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop75.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
            <div class="menu-mob-middlebar-left js-open-middlebar-menu-right-mob">
                <i class="icon icon-hamburger">&nbsp;</i>menu</div>
        </div>
    </div>
</div>
<script src="https://my.hellobar.com/ef0380c84545f8469bd761a1dbd0fc6a4d852559.js" type="text/javascript" charset="utf-8" async="async"></script>