<div class="visual js-visual-ontop">
    <div class="visual-inner">
        <h1>Welkom op
            <span class="textblue">MyCards.nl</span>
        </h1>
        <p>Kies een kaart uit onze ruime collectie van de&nbsp;mooiste geboortekaartjes, trouwkaarten, uitnodigingen, jubileumkaarten, verhuiskaarten, kerstkaarten en personaliseer eenvoudig de kaart naar je eigen wensen met onze kaartenmaker.</p>
        <a class="button button-blue button-lg" href="/nieuwe-kaartjes">Bekijk de nieuwe kaartjes
            <i class="icon icon-bold-arrow">&nbsp;</i>
        </a>
    </div>
</div>
<div class="js-hide-leftbar">
    <div class="container">
        <div class="text-center main-info">
            <p>Kies uit
                <span class="textblue">6</span> papiersoorten en
                <span class="textblue">22</span> enveloppen &bull; GRATIS&nbsp;
                <span class="textblue">Proefdruk</span> in september &bull;
                <span class="textblue">Inclusief</span> bedrukte achterkant &bull; Geen verzendkosten&nbsp;&bull;
                <span class="textblue">Voor</span> 18:00 uur besteld = dezelfde dag verzonden</p>
        </div>
    </div>
    <!--p style="padding:0;margin:0;">
    <select id="catSelList" onchange="if (this.value) window.location.href=this.value">
        <option value="">Kies een categorie</option>
        <option value="/geboortekaartjes">Geboortekaartjes</option>
        <option value="/trouwkaarten">Trouwkaarten</option>
        <option value="/uitnodigingen">Uitnodigingen</option>
        <option value="/verhuiskaarten">Verhuis</option>
        <option value="/kerstkaarten">Kerst</option>
        <option value="/nieuwe-kaartjes">Nieuwe kaartjes</option>
    </select>
</p-->
    <div class="cols">
        <div class="md-8">
            <div class="cols category-thumbnails">
                <div class="xs-6 sm-4 md-4">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/meisje';"><img alt="Meisjes" class="img-responsive img-center" src="/media/imgmeisjes4.jpg" />
                        <div class="thumbnail-footer text-left">
                            <a class="button button-white" href="/geboortekaartjes/meisje" title="Meisjes">Meisjes
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaartjes/jongen';"><img alt="Jongens" class="img-responsive img-center" src="/media/imgjongens2.jpg" />
                        <div class="thumbnail-footer text-left">
                            <a class="button button-white" href="/geboortekaartjes/jongen" title="Jongens">Jongens
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken';"><img alt="Zelf ontwerpen" class="img-responsive img-center" src="/media/imgzelfontwerpen.jpg" />
                        <div class="thumbnail-footer text-left">
                            <a class="button button-white" href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken" title="Zelf ontwerpen">Zelf ontwerpen
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten';"><img alt="Trouwkaarten" class="img-responsive img-center" src="/media/imgtrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-left">
                            <a class="button button-white" href="/trouwkaarten" title="Trouwkaarten">Trouwkaarten
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/uitnodigingen';"><img alt="Meisjes" class="img-responsive img-center" src="/media/imguitnodigingen2.jpg" />
                        <div class="thumbnail-footer text-left">
                            <a class="button button-white" href="/uitnodigingen" title="Uitnodigingen">Uitnodigingen
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/verhuiskaarten';"><img alt="Verhuiskaarten" class="img-responsive img-center" src="/media/imgverhuiskaarten.jpg" />
                        <div class="thumbnail-footer text-left">
                            <a class="button button-white" href="/verhuiskaarten" title="Verhuiskaarten">Verhuiskaarten
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-4">
            <div class="home-samen">
                <div class="cols">
                    <div class="xs-12 sm-4 md-12"><img alt="Tip: Stel je eigen gezin samen" src="/media/eigengezinwinter.png" style="width: 380px; height: 379px;" /></div>
                    <div class="xs-12 sm-8 md-12">
                        <div class="samen-content">
                            <h2>Tip: Stel je eigen gezin samen op je geboortekaartje</h2>
                            <p>Bij MyCards.nl kun je voor elke gezinssamenstelling een geboortekaartje ontwerpen. Dit met de broer(s) en of zus(sen) en wellicht papa en mama.</p>
                            <a class="button button-white button-lg" href="/geboortekaartje-voor-eigen-gezin-zelf-samenstellen" title="Stel zelf samen">Stel zelf samen
                                <i class="icon icon-bold-arrow">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cols">
        <div class="md-4">
            <div class="home-tips">
                <h2>Tips</h2>
                <ul>
                    <li data-number="1">Maak eenvoudig zelf online de mooiste kaart</li>
                    <li data-number="2">Sla deze op zodat je er later verder mee kunt</li>
                    <li data-number="3">Kom je er niet uit? E-mail&nbsp;ons of bel met 0318-725123</li>
                    <li data-number="4">Bestel van je kaart een echte proefdruk voor slechts &euro; 1,&nbsp;&nbsp;inclusief verzending!</li>
                    <li data-number="5">Bestel voor 18:00 uur dan verzenden wij dezelfde dag!*</li>
                </ul>
                <a class="button button-white button-lg" href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken" title="Zelf ontwerpen">Zelf ontwerpen
                    <i class="icon icon-bold-arrow">&nbsp;</i>
                </a>
            </div>
        </div>
        <div class="md-8 ">
            <div class="cols home-info">
                <div class="top-item xs-12 sm-4 md-4">
                    <h2>Welkom op MyCards.nl</h2>
                    <div class="thumb">
                        <a href="/over-mycards" title="Welkom op MyCards.nl"><img alt="Welkom op MyCards.nl" src="/media/fullmycardslogo.png" style="width: 220px; height: 144px;" /></a>
                    </div>
                    <p>Op MyCards.nl maak je eenvoudig in slechts 4 stappen je mooiste geboortekaartje, trouwkaart of uitnodigingskaart zelf online.</p>
                    <p>
                        <a href="/over-mycards" title="Lees meer">Lees meer &gt;&gt;</a>
                    </p>
                </div>
                <div class="top-item xs-12 sm-4 md-4">
                    <h2>Kerstkaarten collectie</h2>
                    <a href="/kerstkaarten" title="kerstkaarten"><img alt="Kerstkaarten" src="/media/fijnekerstdagen.png" style="width: 200px; height: 142px;" /></a>
                    <p>Maak ook de mooiste kerstkaart om te versturen aan je familie en / of vrienden op MyCards.nl. Bekijk nu onze ruime collectie.</p>
                    <p>
                        <a href="/kerstkaarten" title="Bekijk collectie">Bekijk collectie &gt;&gt;</a>
                    </p>
                </div>
                <div class="xs-12 sm-4">
                    <h2>Like ons op Facebook</h2>
                    <div class="facebook-page">
                        <div id="fb-root" style="font-size:0;">&nbsp;</div>
                        <script>
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.5&appId=455222444610972";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-page" data-adapt-container-width="true" data-height="280" data-hide-cover="false" data-href="https://www.facebook.com/MycardsNL/" data-show-facepile="true" data-small-header="true" data-tabs="timeline" data-width="244">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/MycardsNL/">
                                    <a href="https://www.facebook.com/MycardsNL/">MyCards.nl Geboortekaartjes &amp; Trouwkaarten</a>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xs-hide sm-9"><img alt="1.Kaart kiezen 2.Upload je foto’s 3.Bewerk je kaart 4.Bestel je kaart" src="/media/steps.jpg" style="width: 100%;" /></div>
                <div class="xs-12 sm-3">
                    <h2 class="textblue">Begin nu!</h2>
                    <a class="button button-lg button-blue" href="/soorten" title="Maak je kaart!">Maak je kaart!
                        <i class="icon icon-bold-arrow">&nbsp;</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>