<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim || (function(d, s) {
    var z = $zopim = function(c) {
            z._.push(c)
        },
        $ = z.s =
        d.createElement(s),
        e = d.getElementsByTagName(s)[0];
    z.set = function(o) {
        z.set.
        _.push(o)
    };
    z._ = [];
    z.set._ = [];
    $.async = !0;
    $.setAttribute("charset", "utf-8");
    $.src = "https://v2.zopim.com/?2j7wWlqwcTApFyDZz7GVINrgXoq9COpr";
    z.t = +new Date;
    $.
    type = "text/javascript";
    e.parentNode.insertBefore($, e)
})(document, "script");
</script>
<!--End of Zendesk Chat Script-->
<div id="footer-inner">
    <div class="container">
        <div class="cols cols-multi">
            <div class="md-8">
                <div class="rich-snippets" itemscope="" itemtype="http://schema.org/WebPage">
                    <h2 itemprop="name">MyCards klantwaardering</h2>
                    <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><img alt="Rating MyCards" src="/img/four-star-rating.png" />
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="bestRating" content="10">
                        <span itemprop="ratingValue">9.2</span>&nbsp;van
                        <a href="https://beoordelingen.feedbackcompany.nl/reviews/6746/MyCards.nl.html" target="_blank">
                            <span itemprop="reviewCount">2514&nbsp;</span>beoordelingen</a>
                    </div>
                    <a class="button button-white has-arrow" href="https://beoordelingen.feedbackcompany.nl/reviews/6746/MyCards.nl.html" target="_blank">Bekijk alle beoordelingen</a>
                </div>
                <div class="feedback-wrap">
                    <div class="feedback-inner">
                        <div class="feedback innerfade">
                            <p>Prima service. Snel en duidelijk antwoord op gestelde vragen. Goede en mooie presentatie van de bestelling. En snelle levering. Wij zijn helemaal tevreden.
                                <br />
                                <a href="https://beoordelingen.feedbackcompany.nl/NL-NL/MyCards.nl/1197342.html">Riet Kregting</a>
                            </p>
                            <p>Zeer snelle levering. Voorbeeldkaartjes soorten papier. Kaarten netjes en zorgvuldig verpakt.
                                <br />
                                <a href="https://beoordelingen.feedbackcompany.nl/reviewdetails/6746/493018/review-MyCards-nl-Eerste-keer-dat-wij-kaartjes-online-hebben-besteld.html">Marian Roelofs</a>
                            </p>
                            <p>Super snelle service! Goeie kwaliteit! Ik kan alleen maar zeggen super! Als ik kaarten moet hebben ga ik ze zeker weer bij jullie bestellen
                                <br />
                                <a href="https://beoordelingen.feedbackcompany.nl/reviewdetails/6746/618708/review-MyCards-nl-Super-snelle-service-Goeie-kwaliteit-Ik-kan-alleen.html">Jurrina vd Haar</a>
                            </p>
                            <p>Fantastische snelle service , denken met je mee..wij wilden de kaart wat anders dan hij was...geen probleem hoor gevraagd via de chat en 5 minuten later had ik de kaart precies zoals wij wilde hebben...TOP service!!!
                                <br />
                                <a href="https://beoordelingen.feedbackcompany.nl/NL-NL/MyCards.nl/1116126.html">Sandra Hendriks</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-4 payment">
                <p style="font-size: 0px;">
                    <a href="/betalen" onclick="_gaq.push(['_trackEvent', 'Footer', 'Logos', 'Betaalmethodes']);"><img alt="Betaalmethodes Hippe Geboortekaartjes" src="/img/betaalmethodes.png" /> <img alt="afterpay" src="/media/afterpaybetalenachteraf.png" style="margin-left: 10px; height: 37px; width: 110px;" /> </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="fnav">
    <div class="container">
        <div class="md-15">
            <h2>MyCards.nl</h2>
            <ul>
                <li>
                    <a href="/over-mycards">Over MyCards.nl</a>
                </li>
                <li>
                    <a href="/algemene-voorwaarden">Voorwaarden</a>
                </li>
                <li>
                    <a href="/Social-Media">Social Media</a>
                </li>
            </ul>
        </div>
        <div class="md-15">
            <h2>Kaart Maken</h2>
            <ul>
                <li>
                    <a href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken">Kaart Maken</a>
                </li>
                <li>
                    <a href="/geboortekaartjes">Geboortekaartjes</a>
                </li>
                <li>
                    <a href="/trouwkaarten">Trouwkaarten</a>
                </li>
                <li>
                    <a href="/uitnodigingen">Uitnodigingen</a>
                </li>
                <li>
                    <a href="/verhuiskaarten">Verhuiskaarten</a>
                </li>
                <li>
                    <a href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken">Eigen Ontwerp</a>
                </li>
                <li>
                    <a href="/eerste-hulp-bij-uploaden">Eerste hulp bij uploaden</a>
                </li>
                <li>
                    <a href="/tips-en-trucs">Tips en Trucs</a>
                </li>
                <li>
                    <a href="/geboortekaartjes/voorbeeld-teksten">Voorbeeldteksten Geboorte</a>
                </li>
                <li>
                    <a href="/trouwkaarten/voorbeeld-teksten">Voorbeeldteksten Trouwen</a>
                </li>
                <li>
                    <a href="https://mycardsrouwkaarten.nl" target="_blank">Rouwkaarten</a>
                </li>
            </ul>
        </div>
        <div class="md-15">
            <h2>Help</h2>
            <ul>
                <li>
                    <a href="/prijzen">Prijzen</a>
                </li>
                <li>
                    <a href="/proefdruk">Proefdruk</a>
                </li>
                <li>
                    <a href="/papiersoorten">Papiersoorten</a>
                </li>
                <li>
                    <a href="/bestel_details?keuze=enveloppen">Enveloppen Bestellen</a>
                </li>
                <li>
                    <a href="/betalen">Betaalmogelijkheden</a>
                </li>
                <li>
                    <a href="/bezorgen">Bezorging</a>
                </li>
                <li>
                    <a href="/garantie">Garantie</a>
                </li>
                <li>
                    <a href="/privacy">Privacy</a>
                </li>
                <li>
                    <a href="/faq">Veelgestelde Vragen</a>
                </li>
            </ul>
        </div>
        <div class="md-15">
            <h2>Contact</h2>
            <ul>
                <li>
                    <a href="/contactgegevens">Contactgegevens</a>
                </li>
                <li>
                    <a href="/contact">Contactformulier</a>
                </li>
                <li>
                    <a href="/login">Inloggen Account</a>
                </li>
            </ul>
        </div>
        <div class="md-15">
            <h2>En verder...</h2>
            <ul>
                <li>
                    <a href="/klantwaardering">Klantwaarderingen</a>
                </li>
                <li>
                    <a href="/Nieuws">Nieuws</a>
                </li>
                <li>
                    <a href="/links">Links</a>
                </li>
                <li>
                    <a href="/nieuwsbrief">Nieuwsbrief</a>
                </li>
                <li>Nieuw:&nbsp;
                    <a href="https://mycardsrouwkaarten.nl" target="_blank">Rouwkaarten</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p class="cright">&copy; Copyright 2017&nbsp;MyCards.nl | <strong>Vragen? <a href="/contact">E-mail</a> ons of bel met 0318-725123 (werkdagen van 09:00 tot 17:00 uur).</strong></p>
        <p class="flogo"><img alt="mycards.nl" src="/img/f-logo.png" /></p>
    </div>
</div>
<script src="/css/js/vendor/jquery.cycle2.min.js"></script>
<script src="/css/js/vendor/jquery.cycle2.carousel.min.js"></script>
<!-- Element components -->
<script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/slider.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/css/js/components/jquery.innerfade.js"></script>
<script src="/css/js/components/custom.js"></script>