<div class="category-box">
    <div class="cols">
        <div class="xs-6 sm-4 md-4">
            <div class="category-item">
                <a href="/geboortekaartjes/meisje"><img alt="Meisjes" src="/media/imgmeisjes4.jpg" /></a>
                <a class="button button-white has-arrow" href="/geboortekaartjes/meisje" title="Meisjes">Meisjes</a>
            </div>
        </div>
        <div class="xs-6 sm-4 md-4">
            <div class="category-item">
                <a href="/geboortekaartjes/jongen"><img alt="Jongens" src="/media/imgjongens2.jpg" /></a>
                <a class="button button-white has-arrow" href="/geboortekaartjes/jongen" title="Jongens">Jongens</a>
            </div>
        </div>
        <div class="xs-12 sm-4 md-4">
            <div class="category-item">
                <div class="wrap-select">
                    <select class="pages" id="catSelList" onchange="if (this.value) window.location.href=this.value">
                        <option value="">Kies een categorie</option>
                        <option value="/geboortekaartjes/">Alle geboortekaartjes</option>
                        <option value="/geboortekaartjes/jongen">- Jongens</option>
                        <option value="/geboortekaartjes/meisje">- Meisjes</option>
                        <option value="/geboortekaartjes/tweeling">- Tweeling</option>
                        <option value="/geboortekaartjes/geboortekaartjes-met-foto">- met Foto</option>
                        <option value="/geboortekaartje-voor-eigen-gezin-zelf-samenstellen">- Eigen gezin samenstellen</option>
                        <option value="/geboortekaartjes/geboortekaartjes-2e-kindje">- 2de kindje</option>
                        <option value="/geboortekaartjes/geboortekaartjes-3e-kindje">- 3de kindje</option>
                        <option value="/geboortekaartjes/geboortekaartjes-4e-kindje">- 4de kindje</option>
                        <option value="/geboortekaartjes/geboortekaartjes-5e-kindje">- 5de kindje</option>
                        <option value="/geboortekaartjes/islamitische">- Arabisch</option>
                        <option value="/geboortekaartjes/vintage-retro-geboortekaartjes">- Retro</option>
                        <option value="/geboortekaartjes/geboortekaartjes-lente">- Lente thema</option>
                        <option value="/geboortekaartjes/geboortekaartjes-zomer-thema">- Zomer thema</option>
                        <option value="/geboortekaartjes/geboortekaartjes-herfst-thema">- Herfst thema</option>
                        <option value="/geboortekaartjes/geboortekaartje-winter-kerst">- Winter thema</option>
                        <option value="/geboortekaartjes/geboortekaartje-met-silhouet">- Silhouet kaartjes</option>
                        <option value="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">- Zelf ontwerpen</option>
                        <option value="/geboortekaartjes/geboortekaartje-belgie">- Belgisch vierkant</option>
                        <option value="/uitnodigingen/kraamfeest-babyborrel-kaartjes">- Kraamfeest kaartjes</option>
                        <option value="/bestel_details?keuze=enveloppen">- Enveloppen bestellen</option>
                    </select>
                </div>
                <div class="kc-text-block">
                    <h2>Waarom MyCards.nl?</h2>
                    <ul>
                        <li>Echte proefdruk &euro; 1,-</li>
                        <li>Gratis verzenden</li>
                        <li>Kies uit 6 papiersoorten</li>
                        <li>Kies uit 21 enveloppen</li>
                        <li>Inclusief bedrukte achterkant</li>
                        <li>V&oacute;&oacute;r 18u besteld is dezelfde dag verzonden</li>
                    </ul>
                    <a class="btn-default btn-yellow btn-zelf" href="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">Zelf ontwerpen</a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="xs-hide xsm-hide">Geboortekaartjes maken doe je eenvoudig zelf op MyCards.nl! Met onze online kaartenmaker kun je <strong>eenvoudig</strong>&nbsp;je favoriete
    <a href="/geboortekaartjes/jongen">jongens</a> of
    <a href="/geboortekaartjes/meisje">meisjes </a>geboortekaartje uit onze ruime collectie helemaal naar eigen wens aanpassen. Ook is het mogelijk om helemaal zelf een geboortekaartje te
    <a href="/geboortekaartjes/zelf-geboortekaartjes-maken-ontwerpen">ontwerpen</a>.</p>