<script src="//my.hellobar.com/ef0380c84545f8469bd761a1dbd0fc6a4d852559.js" type="text/javascript" charset="utf-8" async="async"></script>
<script type="text/javascript">
var script = document.createElement("script");
script.async = true;
script.type = "text/javascript";
var target = 'https://clickcease.com/monitor/stat.js';
script.src = target;
var elem = document.head;
elem.appendChild(script);
</script>
<noscript>
    <a href="https://clickcease.com"><img src="https://monitor.clickcease.com/stats/stats.aspx" alt="Click Fraud Protection" /></a>
</noscript>
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <div class="topbar-menu-left">
                <a href="/klantwaardering" title="99% aanbeveling!">
                    <span style="color:#007b00;">99% aanbeveling!</span>
                </a> |
                <a href="/Nieuws" title="Bestel GRATIS een proefdruk">Bestel GRATIS een proefdruk</a> |
                <a href="/bezorgen" title="Voor 18u besteld, dezelfde dag verzonden">Voor 18u besteld = dezelfde dag verzonden</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a class="hphone" href="tel:0318-725123" title="0318-725123">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span>0318 - 725 123</span>
                        </a>
                    </li>
                    <li>
                        <a class="basket" href="/contact" title="Contact">
                            <i class="icon icon-mail">&nbsp;</i>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="help" href="/hulp" title="Hulp">
                            <i class="icon icon-info">&nbsp;</i>
                            <span>Info &amp; Prijzen</span>
                            <i class="icon icon-chevron-down icon-xs">&nbsp;</i>
                        </a>
                        <ul>
                            <li>
                                <a href="/over-mycards">Over MyCards.nl</a>
                            </li>
                            <li>
                                <a href="/Nieuws">Nieuws</a>
                            </li>
                            <li>
                                <a href="/hoe-werkt-het">Hoe werkt het?</a>
                            </li>
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/papiersoorten">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/bezorgen">Bezorging</a>
                            </li>
                            <li>
                                <a href="/klantwaardering">Klantwaardering</a>
                            </li>
                            <li>
                                <a href="/garantie">Garantie</a>
                            </li>
                            <li>
                                <a href="/faq">Veelgestelde vragen</a>
                            </li>
                            <li>
                                <a href="/tips-en-trucs">Tips &amp; Trucs</a>
                            </li>
                            <li>
                                <a href="/bestel_details?keuze=enveloppen">Enveloppen bestellen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" id="navbar-logout">
                        <a class="account" href="/account" title="Mijn account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Mijn account</span>
                            <i class="icon icon-chevron-down icon-xs">&nbsp;</i>
                        </a>
                        <ul>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_adres_import">Adressen importeren</a>
                            </li>
                            <li>
                                <a href="/account_adresboek">Adresboek</a>
                            </li>
                            <li style="border-top: 1px dashed #e0e0e0;">
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Inloggen</span>
                        </a>
                    </li>
                    <li>
                        <a href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket">0 items</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/" title="Mycards"><img alt="Mycards" src="/img/logo.png" style="height: 95px; width: 180px;" /></a>
                <ul class="middlebar-menu-right">
                    <li>
                        <a href="/geboortekaartjes">Geboortekaartjes</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/uitnodigingen">Uitnodigingen</a>
                    </li>
                    <li>
                        <a href="/verhuiskaarten">Verhuiskaarten</a>
                    </li>
                    <li>
                        <a href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken">Zelf ontwerpen</a>
                    </li>
                    <li class="h-search">
                        <form action="/zoeken">
                            <button class="search-button-field" value="Go">
                                <i class="icon icon-search">&nbsp;</i>
                            </button>
                            <div class="search-input-field">
                                <input name="qry" placeholder="Zoekterm + enter" type="text" />
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="logo-mobile">
    <a href="/" title="MyCards.nl"><img alt="MyCards.nl" src="/img/logo.png" style="height: 95px; width: 180px;" /></a>
</div>
<div class="search-mobile">
    <form action="/zoeken">
        <button class="search-button-field" value="Go">
            <i class="icon icon-search">&nbsp;</i>
        </button>
        <div class="search-input-field">
            <input name="qry" placeholder="Zoek een kaartje" type="text" />
        </div>
    </form>
</div>