<div id="visual">
    <div class="visual-inner">
        <h1>Welkom op <strong>MyCards.nl</strong></h1>
        <p>MyCards.nl. is d&egrave; plek om eenvoudig en snel je geboortekaartjes, trouwkaarten, uitnodigingen, jubileumkaarten, verhuiskaarten, kerstkaarten en nog veel meer te bestellen!</p>
        <a class="button has-arrow" href="/nieuwe-kaartjes" title="Bekijk de nieuwe kaartjes">Bekijk de nieuwe kaartjes</a>
    </div>
</div>
<div class="main-info">
    <p>Kies uit
        <span>6&nbsp;</span>papiersoorten en
        <span>22&nbsp;</span>enveloppen &bull; GRATIS&nbsp;
        <span>Proefdruk</span> in augustus&nbsp;&bull;
        <span>Inclusief</span> bedrukte achterkant &bull; Geen verzendkosten&nbsp;&bull;
        <span>Voor</span> 18:00 uur besteld = dezelfde dag verzonden</p>
</div>
<p style="padding:0;margin:0;">
    <select id="catSelList" onchange="if (this.value) window.location.href=this.value">
        <option value="">Kies een categorie</option>
        <option value="/geboortekaartjes">Geboortekaartjes</option>
        <option value="/trouwkaarten">Trouwkaarten</option>
        <option value="/uitnodigingen">Uitnodigingskaarten</option>
        <option value="/verhuiskaarten">Verhuiskaarten</option>
        <option value="/kerstkaarten">Kerstkaarten</option>
        <option value="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken">Zelf Ontwerpen</option>
        <option value="/nieuwe-kaartjes">Nieuwe kaartjes</option>
    </select>
</p>
<div class="category-box">
    <div class="cols">
        <div class="block-left">
            <div class="cols">
                <div class="xs-6 sm-4 md-4">
                    <div class="category-item">
                        <a href="/geboortekaartjes/meisje"><img alt="Meisjes" src="/media/imgmeisjes4.jpg" /></a>
                        <a class="button button-white has-arrow" href="/geboortekaartjes/meisje" title="Meisjes">Meisjes</a>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="category-item">
                        <a href="/geboortekaartjes/jongen"><img alt="Jongens" src="/media/imgjongens2.jpg" /></a>
                        <a class="button button-white has-arrow" href="/geboortekaartjes/jongen" title="Jongens">Jongens</a>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="category-item">
                        <a href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken"><img alt="Zelf ontwerpen" src="/img/home/img-zelf-ontwerpen.jpg" /></a>
                        <a class="button button-white has-arrow" href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken" title="Zelf ontwerpen">Zelf ontwerpen</a>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="category-item">
                        <a href="/trouwkaarten"><img alt="Trouwkaarten" src="/img/home/img-trouwkaarten.jpg" /></a>
                        <a class="button button-white has-arrow" href="/trouwkaarten" title="Trouwkaarten">Trouwkaarten</a>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="category-item">
                        <a href="/uitnodigingen"><img alt="Uitnodigingen" src="/img/img-uitnodigingen2.jpg" /></a>
                        <a class="button button-white has-arrow" href="/uitnodigingen" title="Uitnodigingen">Uitnodigingen</a>
                    </div>
                </div>
                <div class="xs-6 sm-4 md-4">
                    <div class="category-item">
                        <a href="/verhuiskaarten"><img alt="Verhuiskaarten" src="/img/home/img-verhuiskaarten.jpg" /></a>
                        <a class="button button-white has-arrow" href="/verhuiskaarten" title="Verhuiskaarten">Verhuiskaarten</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-right">
            <div class="samen">
                <a href="/trouwkaart-samenstellen/"><img alt="Nieuw: Trouwkaart op Maat." src="/media/trouwkaartopmaat.png" style="width: 383px; height: 537px;" /></a>
                <div class="samen-content">
                    <h3>Nieuw: Trouwkaart op Maat</h3>
                    <p>Met trouwkaart op maat kun je een cartoon van jezelf op de kaart plaatsen. Extra persoonlijk en leuk!</p>
                    <a class="button button-white has-arrow" href="/trouwkaart-samenstellen/" title="Stel zelf samen">Stel zelf samen</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-box">
    <div class="cols">
        <div class="block-left">
            <div class="tips">
                <h3>Tips</h3>
                <ol>
                    <li>Maak eenvoudig zelf online de mooiste kaart</li>
                    <li>Sla deze op zodat je er later verder mee kunt</li>
                    <li>Kom je er niet uit? E-mail&nbsp;ons of bel met 0318-725123</li>
                    <li>Bestel van je kaart een echte proefdruk voor slechts &euro; 1,&nbsp;&nbsp;inclusief verzending!</li>
                    <li>Bestel voor 18:00 uur dan verzenden wij dezelfde dag!*</li>
                </ol>
                <a class="button button-white has-arrow" href="/zelf-geboortekaartjes-trouwkaarten-ontwerpen-maken" title="Zelf ontwerpen">Zelf ontwerpen</a>
            </div>
        </div>
        <div class="block-right">
            <div class="top-row">
                <div class="cols">
                    <div class="top-item xs-6 sm-4 md-4">
                        <h2>Welkom op MyCards.nl</h2>
                        <div class="thumb">
                            <a href="/over-mycards" title="Welkom op MyCards.nl"><img alt="Welkom op MyCards.nl" src="/img/online-geboortekaartjes-trouwkaarten-webshop-mycards-logo.png" style="width: 220px; height: 144px;" /></a>
                        </div>
                        <p>Op MyCards.nl maak je eenvoudig in slechts 4 stappen je mooiste geboortekaartje, trouwkaart of uitnodigingskaart zelf online.</p>
                        <p>
                            <a href="/over-mycards" title="Lees meer">Lees meer &gt;&gt;</a>
                        </p>
                    </div>
                    <div class="top-item xs-6 sm-4 md-4">
                        <h2>Nieuw: Belgisch vierkant</h2>
                        <div class="thumb">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <a href="/Nieuws" title="Belgisch vierkant"><img alt="Belgisch vierkant" src="/img/flag-1040530_640.png" style="width: 120px; height: 70px;" /></a>
                        </div>
                        <p>Speciaal voor de Belgische klanten hebben we nu geboortekaartjes, trouwkaarten en uitnodigingen in het formaat Vals vierkant/Belgisch vierkant.</p>
                        <p>
                            <a href="/Nieuws" title="Lees meer">Lees meer &gt;&gt;</a>
                        </p>
                    </div>
                    <div class="top-item sm-4 md-4">
                        <h2>Like ons op Facebook</h2>
                        <div class="facebook-page">
                            <div id="fb-root" style="font-size:0;">&nbsp;</div>
                            <script>
                            (function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.5&appId=455222444610972";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                            </script>
                            <div class="fb-page" data-adapt-container-width="true" data-height="280" data-hide-cover="false" data-href="https://www.facebook.com/MycardsNL/" data-show-facepile="true" data-small-header="true" data-tabs="timeline" data-width="244">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/MycardsNL/">
                                        <a href="https://www.facebook.com/MycardsNL/">MyCards.nl Geboortekaartjes &amp; Trouwkaarten</a>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="image"><img alt="1.Kaart kiezen 2.Upload je foto’s 3.Bewerk je kaart 4.Bestel je kaart" src="/img/home/img-steps.png" /></div>
                <div>
                    <span>Begin nu!</span>
                    <a class="button has-arrow" href="/soorten" title="Maak je kaart!">Maak je kaart!</a>
                </div>
            </div>
        </div>
    </div>
</div>