<p><img alt="mycards geboortekaartjes en trouwkaarten logo" longdesc="https://mycards.nl/cms/cms_edit_page/mycards%20geboortekaartjes%20en%20trouwkaarten%20logo" src="/img/online-geboortekaartjes-trouwkaarten-webshop-mycards-logo.png" style="width: 300px; height: 197px; float: right;" /></p>
<p>MyCards.nl&nbsp;is d&egrave; webwinkel&nbsp;om eenvoudig en snel je
    <a href="/geboortekaartjes">geboortekaartjes</a>,
    <a href="/trouwkaarten">trouwkaarten</a>,
    <a href="http://www.mycards.nl/uitnodigingen">uitnodigingen</a>,
    <a href="/uitnodigingen/jubileum">jubileumkaarten</a>,
    <a href="/verhuiskaarten">verhuiskaarten</a>&nbsp;en&nbsp;nog veel meer te bestellen!</p>
<p>&nbsp;</p>
<h2>- MyCards.nl heeft meer dan 32.000 bestellingen ervaring.</h2>
<h2>- 99% van onze klanten beveelt&nbsp;ons aan!</h2>
<p>&nbsp;</p>
<p><strong>Heb je een vraag?</strong> <strong>We helpen je graag!&nbsp;</strong>Bel gerust naar 0318 -725 123 of mail naar
    <a href="mailto:klantenservice@mycards.nl">klantenservice@mycards.nl</a>.&nbsp;</p>
<p>We bieden een grote collectie aan echte designkaarten en met onze handige online kaartentool kun je elke kaart zelf online aanpassen naar jouw wensen en voorkeuren. Zo kun je bijvoorbeeld de naam, het gewicht en de geboortedatum van je pasgeboren kindje op je geboortekaartje vermelden of de trouwlocatie en een liefdesgedicht op je trouwkaart vermelden. Ook is het mogelijk om eigen foto&rsquo;s, afbeeldingen en clip-arts toe te voegen en zelfs een volledig z&eacute;lf ontworpen kaart te uploaden.</p>
<div>
    <p>Het is erg eenvoudig om een echte proefdruk van je gemaakte kaart te bestellen. Deze kost je slechts &euro; 1,- en daarbij ontvang je voorbeelden van alle papiersoorten en enveloppen, zo kun je thuis de beste keuze maken voor je eindbestelling. Deze bestelling verzenden we gratis in Nederland naar je toe en voor een kleine toeslag naar Belgie. De rest van Europa is uiteraard ook geen probleem.&nbsp;<img alt="post nl logo" src="https://mycardsrouwkaarten.nl/media/postnllogo1.png" style="width: 200px; height: 200px; float: right;" /></p>
    <p>
        <span style="line-height: 27.7333316802979px;">Als je bovendien&nbsp;v&oacute;&oacute;r 18:00 uur besteld op werkdagen dan heb je de bestelling de volgende dag al in huis!&nbsp;(geldig bij bestelling vanaf 20 kaarten</span>
        <span style="line-height: 27.7333316802979px;">. O</span>
        <span style="line-height: 27.7333316802979px;">verige bestellingen en proefdrukken drukken en versturen&nbsp;</span>
        <span style="line-height: 27.7333316802979px;">wij de volgende werkdag (brievenbuspost)</span>
        <span style="line-height: 27.7333316802979px;">.</span>
    </p>
    <h2>Over smaak valt niet te twisten, maar over kwaliteit des te meer!</h2>
    <p>Daarom werkt MyCards.nl uitsluitend samen met geselecteerde professionele designers. Al deze ontwerpers doen hun werk met passie en liefde voor het vak. Ook de kwaliteit van het drukken is voor ons erg belangrijk. Daarom werken wij hiervoor uitsluitend met het beste materiaal. Op deze manier zorgen wij er met z&rsquo;n allen voor dat jij je als klant niet druk hoeft te maken over de kwaliteit van de kaarten.</p>
    <p>Voor MyCards.nl zijn duidelijkheid, vertrouwen, gemak en overzicht de belangrijkste thema&rsquo;s en wij zijn dan ook continu bezig om deze thema&rsquo;s te bewaken en daar waar mogelijk te verbeteren. Zo is onze online kaartentool zo gebouwd dat het aanpassen en/of bewerken van een kaart zo natuurlijk en logisch mogelijk werkt.</p>
    <h2>MyCards.nl uit Veenendaal</h2>
    <p>MyCards.nl heeft zijn ontstaan in Veenendaal en werkt&nbsp;vanuit de voormalige&nbsp;Ritmeester Sigarenfabriek. De oorsprong van de fabriek begint al in 1887 als familie van Schuppen begint met het produceren van sigaren. In 1913 nemen ze het pand aan de Kerkewijk in Veenendaal in gebruik waar tot aan 2006 daadwerkelijk sigaren zijn geproduceerd.
        <br /> Inmiddels biedt&nbsp;de voormalig fabriek (&#39;
        <a href="http://sigarenfabriek-veenendaal.nl/" target="_blank">The Creating Factory</a>&#39;)&nbsp;onderdak aan meerdere creatieve bedrijven waaronder MyCards.nl.</p>
    <p>
        <a href="http://sigarenfabriek-veenendaal.nl/#toen-en-nu"><img alt="sigarenfabriek" src="/media/SigarenfabriekVeenendaal.jpg" style="width: 500px; height: 247px;" /></a>
        <br /> Uiteraard staan wij altijd open voor suggesties en/of opmerkingen. Dus mocht je tips of vragen hebben of ons gewoon iets willen laten weten, dan horen wij dat graag van je!</p>
    <p><strong>Veel plezier met het maken van je kaart!</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>