<div class="category-box">
    <div class="cols">
        <div class="xs-6 sm-4 md-4">
            <div class="category-item">
                <a href="/trouwkaarten"><img alt="Trouwkaarten" src="/img/home/img-trouwkaarten.jpg" /></a>
                <a class="button button-white has-arrow" href="/trouwkaarten" title="Trouwkaarten">Trouwkaarten</a>
            </div>
        </div>
        <div class="xs-6 sm-4 md-4">
            <div class="category-item">
                <a href="/uitnodigingen/jubileum"><img alt="Jubileumkaarten" src="/img/img-uitnodigingen2.jpg" /></a>
                <a class="button button-white has-arrow" href="/uitnodigingen/jubileum" title="Jubileumkaarten">Jubileumkaarten</a>
            </div>
        </div>
        <div class="xs-12 sm-4 md-4">
            <div class="category-item">
                <div class="wrap-select">
                    <select class="pages" id="catSelList" onchange="if (this.value) window.location.href=this.value">
                        <option value="">Kies een categorie</option>
                        <option value="/trouwkaarten">Alle trouwkaarten</option>
                        <option value="/trouwkaarten/trouwkaarten-met-foto">Met foto</option>
                        <option value="/trouwkaarten/trouwkaart-met-tijdlijn">Met tijdlijn</option>
                        <option value="/trouwkaart-samenstellen">Trouwkaart op maat</option>
                        <option value="/trouwkaarten/persoonlijke_silhouet_trouwkaarten">Persoonlijk Silhouet</option>
                        <option value="/trouwkaarten/mr-mrs-trouwkaarten">Mr &amp; Mrs</option>
                        <option value="/trouwkaarten/papa-en-mama-gaan-trouwen">Papa en mama</option>
                        <option value="/trouwkaarten/islamitische-arabische">Arabisch</option>
                        <option value="/trouwkaarten/save-the-date">Save the date</option>
                        <option value="/trouwkaarten/menukaarten-bruiloft-maken">Menukaarten</option>
                        <option value="/trouwkaarten/bedankkaartjes">Bedankkaartjes</option>
                        <option value="/trouwkaarten/trouwkaarten-belgie">Belgisch vierkant</option>
                        <option value="/trouwkaarten/trouwkaarten-zelf-ontwerpen">Zelf ontwerpen</option>
                    </select>
                </div>
                <div class="kc-text-block">
                    <h2>Waarom MyCards.nl?</h2>
                    <ul>
                        <li>Echte proefdruk &euro; 1,-</li>
                        <li>Gratis verzenden</li>
                        <li>Kies uit 6&nbsp;papiersoorten</li>
                        <li>Kies uit 21 enveloppen</li>
                        <li>Inclusief bedrukte achterkant</li>
                        <li>V&oacute;&oacute;r 18u besteld is dezelfde dag verzonden.</li>
                    </ul>
                    <a class="btn-default btn-yellow btn-zelf" href="/trouwkaarten/trouwkaarten-zelf-ontwerpen">Zelf ontwerpen</a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="xs-hide xsm-hide">Welkom op MyCards.nl! De leukste kaartenwebsite om zelf je mooiste <em><strong>trouwkaarten</strong></em> te maken. Met onze online kaartentool kun je eenvoudig elke trouwkaart naar eigen wens samenstellen.</p>