/** PAGE - DESIGN -----------------------------------------**/

#body_design {
    h1 {
        color: $blue;
        line-height: 42px;
        font-size: 30px;
        margin: 0;
    }
    #choose_preview,
    #order_product {
        background-color: $yellow;
        color: $blueGrey;
        border-color: $yellow;
    }


    .add_to_collection {
        padding: 5px 8px;
        margin: 10px 0;
    }
    .add_to_collection,
    .open_calculator {
        border: 1px solid;
        border-radius: 4px;
        display: inline-block;
    }
    .box-footer {
        border: none;
        .desUsp {
            background-color: $greyLighter;
            border-radius: 8px;
            p {
                font-size: 13px;
                font-weight: 700;
                padding-top: 5px;
                margin-bottom: 5px;
            }
            a {
                display: list-item;
                list-style-position: inside;
                list-style-type: none;
                color: #444;
                font-size: 13px;
                line-height: 18px;
                padding: 0px;
            }
            a:before {
                font-family: 'kcicons';
                content: '\e010';
                color: #199eba;
                padding-right: 5px;
            }
        }
    }
}


@media only screen and (min-width: 768px) {}