/** PAGE - EDIT -----------------------------------------**/

#body_edit {
    .navbar-header .navbar-header-logo img {
        max-height: 100%;
        padding: 0;
        vertical-align: top;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto 0;
        max-width: 100%;
    }
}


@media only screen and (min-width: 768px) {
    #body_edit.ed #tag_dialog {
        max-height: 70vh !important;
    }
}