/** BLOCK - CATEGORY-THUMBNAILS -----------------------------------------**/

.category-box { 
	h2 {
		margin: 0px;
	}
    .category-item {
        text-align: center;
    }

}

.category-thumbnails {
    .thumbnail {
        .thumbnail-footer {
            background: none;
            opacity: 1;
            position: absolute;
            bottom: 0px;
            width: 100%;
            .button {
            	margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}