/** BLOCK - FOOTER-IMG-FIX -----------------------------------------**/



img[src="/img/stappenplan%20kaartje%20bestellen%202.jpg"] {
	max-width: 700px;
	width: 100% !important;
	height: initial !important;
}