/** BLOCK - FOOTER-MIDDLE -----------------------------------------**/

.footer-middle {
    background-color: $blue;
    padding: 25px 0;;
    color: #fff;
    text-align: center;
    h2 {
        font-size: 22px;
        color: $white;
    }
    a {
        color: $white;
        font-size: 14px; 
        &:hover {
            color: $greyLight;
        }
    }

}



@media only screen and (min-width: 480px) {
    .footer-middle {
        text-align: left;

    }
}
@media only screen and (min-width: 768px) {
    .footer-middle {

    }
}

@media only screen and (min-width: 992px) {}