/** BLOCK - HOME-SAMEN -----------------------------------------**/

.home-samen {
    width: 100%;
    img {
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
    .samen-content {
        margin-top: -30px;
    }
}


@media only screen and (min-width: 768px) {
    .home-samen {
        .samen-content {
            margin-top: 0px;
        	max-width: initial;
        }
    }
}

@media only screen and (min-width: 992px) {
    .home-samen {
        .samen-content {
            margin-top: -30px;
        }
    }
}