/** BLOCK - HOME-INFO -----------------------------------------**/

.home-info {
	text-align: center;
}

@media only screen and (min-width: 768px) {
.home-info {
	text-align: left;
}

}

@media only screen and (min-width: 992px) {

}
