/** BLOCK - MIDDLEBAR -----------------------------------------**/

.navbar.navbar-style-1 {
    .middlebar {
        border-bottom: 1px solid #dfe5e5;
        li.for-desktop {
            display: none !important;
        }
        ul.middlebar-menu-right a {
            color: $blue !important;
            font-family: $titleFont;
        }
        ul.middlebar-menu-left li a {
            line-height: 30px;
            padding: 0px 3px;
        }
        .navbar-search-field {
            top: 84px;
            #headersearch {
                border: none;
            }
            .search-input-field input[type=text] {
                outline: none;
                border: 1px solid $greyLighter;
                background: $greyLighter;
                font-family: $titleFont;
                color: #979797;
                text-transform: uppercase;
                font-size: 16px;
                padding: 5px 10px 0 10px;
                &:focus,
                &:hover {
                    border-color: $grey;
                }
            }
        }
    }
}

.navbar.navbar-style-1 .middlebar .menu-mob-middlebar-left {
    line-height: 26px;
}

.navbar.navbar-style-1 .middlebar .menu-mob-middlebar-left i {
    vertical-align: -3.5px;
}




@media only screen and (min-width: 768px) {
    .navbar.navbar-style-1 {
        .middlebar {
            border-bottom: none;
            background-color: transparent;
            right: 230px;
            ul.middlebar-menu-right a {
                text-transform: uppercase;
            }

            .navbar-search-field {
                top: -50px;
                .search-input-field input[type=text] {
                    width: 240px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {

    .navbar.navbar-style-1 {
        .middlebar {
            height: 100px;
            right: 0px;
            li.for-desktop {
                display: inline-block !important;
            }
            li.for-mobile {
                display: none !important;
            }

            .collapse {
                height: 100px;
                ul.middlebar-menu-right {
                    top: initial;
                    bottom: 0px;
                    height: 45px;
                    &>li a {
                        padding: calc(24.5px - .5em) 15px;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1200px) {
    .navbar.navbar-style-1 {
        .middlebar {
            .collapse {
                ul.middlebar-menu-right {
                    right: 200px;
                }
            }
            .navbar-search-field {
                height: 45px;
                top: 54px;
                bottom: 0px;
                padding: 0;
                .search-button-field {
                    top: 0px;
                    height: 45px;
                    margin: 0;
                }


                .search-input-field input[type=text] {
                    width: 160px;
                }
            }
        }
    }
}