/** BLOCK - NAVBAR -----------------------------------------**/

.navbar.navbar-style-1 {
    height: 84px;
}

.navbar.navbar-style-1 .topbar a.logo {
    margin-top: 0px;
}

@media only screen and (min-width: 768px) {
    .navbar.navbar-style-1 {
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar.navbar-style-1 {
        height: 170px;
    }
    .navbar.navbar-style-1 .topbar .topbar-menu-right {
        right: 270px;
    }
}


@media only screen and (min-width: 1200px) {
    .navbar.navbar-style-1 {
        height: 170px;
    }
    .navbar.navbar-style-1 .topbar .topbar-menu-right {
        right: 15px;
    }
    .navbar .middlebar .open-navbar-search {
        padding-top: 67px;
        right: 10px;
    }
    .navbar.navbar-style-1.navbar-default-a .middlebar .navbar-search-field {
        display: none;
    }
}