/** BLOCK - TOPBAR -----------------------------------------**/

.navbar .topbar .topbar-menu-right>ul>li.dropdown>ul>li>a {
    white-space: nowrap;
}

.navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li.info {
    display: inline-block;
    a:after {
        content: '';
    }
}

.navbar .topbar {
    font-size: 12px;
    height: 46px;
    border-bottom: 1px solid $greyLight;
    .topbar-menu-right>ul>li.dropdown.active {
        background-color: transparent;
    }
}

.navbar .topbar .topbar-basket-menu-mob {
    margin-top: 44px;
}

.navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li.dropdown.active .dropdown-content {
    top: 84px;
}

//Should be fixed in template style
.navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li.login {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    .navbar .topbar {
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .topbar {
        height: 50px;
    }
    .navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li a {
        padding: 12px 5px;
    }
    .navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li.info {
        display: inline-block;
        >a:after {
            content: '\e035';
        }
    }
    .navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li.info.active>a:after {
        content: '\e038';
    }

    .navbar.navbar-style-1 .topbar .topbar-menu-right>ul>li.dropdown.active .dropdown-content {
        top: 48px;
    }
}

@media only screen and (min-width: 1200px) {

    .navbar .topbar .topbar-menu-left a {
        margin: 12px 0;
    }
}