/** BLOCK - WIDGET-FILTER -----------------------------------------**/

.widget_content {
    .list-vertical li {
        ul {
            border: none;
            & li {
                position: relative;

                &:before {
                    position: absolute;
                    content: '-';
                    left: -10px;
                    top: 4px;
                }
            }
        }
        a {
        	padding: 0px; 
        }
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}