/** BLOCK - WIDGET-FILTER -----------------------------------------**/

// MYCARDS gebruikt Kleuren ipv kleur of kleuren. Dus ook fixes voor site.css
#filter_menu {
    label:hover {
        color: $blueGrey;
    }
    li.tag-li .custom_checkbox {
        vertical-align: middle;
        border-radius: 3px;
        &:after {
            vertical-align: super;
        }
    }
    ul li input[type=checkbox]:checked+label .custom_checkbox:after,
    ul li label:hover .custom_checkbox:after {
        vertical-align: super;
    }
    #taggroupul-kleur .tag-li label,
    #taggroupul-kleuren .tag-li label,
    #taggroupul-Kleuren .tag-li label {
        border-radius: 15px;
    }
    #taggroupul-Kleuren > li > ul {
        @include clearfix;
    }
}


#filter_menu .Kleuren #tagli-zwart-wit label {
    background: -webkit-linear-gradient(-55deg, #fff 50%, #000 50%);
    background: -moz-linear-gradient(-55deg, #fff 50%, #000 50%);
    background: linear-gradient(-55deg, #fff 50%, #000 50%)
}

#filter_menu .Kleuren #tagli-multi label {
    background: -webkit-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
    background: -moz-linear-gradient(-55deg, #ffeeb0 30%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%, #ffeeb0 70%);
    background: linear-gradient(-55deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%)
}

#filter_menu .Kleuren #tagli-taupe label {
    background: #bbb4a0
}

#filter_menu .Kleuren #tagli-petrol label {
    background: #99acb0
}

#filter_menu .Kleuren #tagli-zilver label {
    background: #b6b6b6
}

#filter_menu .Kleuren #tagli-groen label {
    background: #9bd576
}

#filter_menu .Kleuren #tagli-beige label {
    background: #cebca4
}

#filter_menu .Kleuren #tagli-creme label {
    background: #f1f1e7
}

#filter_menu .Kleuren #tagli-goud label {
    background: #efce65
}

#filter_menu .Kleuren #tagli-lila label {
    background: #b185e4
}

#filter_menu .Kleuren #tagli-grijs label {
    background: #92959f
}

#filter_menu .Kleuren #tagli-blauw label {
    background: #2286dd
}

#filter_menu .Kleuren #tagli-oranje label {
    background: orange
}

#filter_menu .Kleuren #tagli-rood label {
    background: #db1704
}

#filter_menu .Kleuren #tagli-koper label {
    background: #8E402A
}

#filter_menu .Kleuren #tagli-roze label {
    background: #d53276
}

#filter_menu .Kleuren #tagli-wit label {
    background: #fff
}

#filter_menu .Kleuren #tagli-bruin label {
    background: #7b6a4f
}

#filter_menu .Kleuren #tagli-paars label {
    background: #7a4dac
}

#filter_menu .Kleuren #tagli-geel label {
    background: #ff0
}

#filter_menu .Kleuren #tagli-zwart label {
    background: #000
}

#filter_menu .Kleuren #tagli-pastel label {
    background: -webkit-linear-gradient(-55deg, #f2dddc 33%, #e3f8e3 33%, #dde7eb 34%);
    background: -moz-linear-gradient(-55deg, #f2dddc 33%, #e3f8e3 33%, #dde7eb 34%);
    background: linear-gradient(-55deg, #f2dddc 33%, #e3f8e3 33%, #dde7eb 34%)
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    #filter_menu #taggroupul-Kleuren {
        .tag-li {
            width: 30px;
            height: 30px;
            margin: 0 10px 10px 0;
            float: left;
            label {
                width: 30px;
                height: 30px;
                border: 1px solid #ddd;
                color: transparent;
            }
            .number-of-tags {
                display: none;
            }
        }
        .custom_checkbox {
            border: none;
            margin: 3px 6px;
        }
    }
}