/** BLOCK - WIDGETS -----------------------------------------**/

#sidebar {
    color: $blue;

    h2,
    h3,
    a {
        color: $blue;
        transition: color 0.2s;
    }
    a:hover, a.current-page {
    	color: $blueGrey;
    }
}


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}