/** BLOCK - WRAP-SELECT -----------------------------------------**/


.wrap-select {
    padding: 0 10px
}

.wrap-select #catSelList {
    background-color: transparent;
    text-transform: none;
    border: 1px solid #ccc
}

#catSelList {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: 0;
    color: #00a9ce;
    background: url(/img/icons/ico-arrow-3.png) right 13px center no-repeat #f0f3f2;
    padding: 12px 20px 8px 18px;
    font-size: 16px;
    font-family: Neucha, cursive;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px
}


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    #catSelList {
        display: none
    }

}
